.about{
    color:#C8BEBD;

}
*{
    background-color: #646464;
}
#insta{
    height: 30px;
    color: aqua ;


}
#faceb{
height: 30px;
color:#0000f0 ;
}
#twit{
    height:30px;
}
