<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/static/George/Css/signUp.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<!--Include the cdn of font awesome----->
<Title>SignUps</Title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
    <body>
        
    <section>
        <div class="S-box">

            <form class="formy" autocomplete="off">
                <h1>SignUp </h1>

                
            <!------------------Email---------------------------->
            <div class="S-input">
                <ion-icon name="mail-outline"></ion-icon>
                
                <Label for="text">Email Address</Label>
                
                <input type="text" id="text"  required name="un">
            
            </div>
            <br> 
        <!-------------------------------Password--------------------->    
            <div class="S-input">
             
                <ion-icon name="lock-closed-outline"></ion-icon>
                <span id="ee">
                    <ion-icon name="eye-off-outline" id="eye"></ion-icon>
                </span>
                <Label for="pass">Password</Label>
             
                <input type="password" id="pass" required name="pp">  
           
            </div>
           <br> 
           <!----------------Confirm Password----------------------------------->
            <div class="S-input">
                <ion-icon name="lock-closed"></ion-icon>
                <span id="ee">
                    <ion-icon name="eye-off-outline" id="eye2"></ion-icon>
                    </span>

                <Label for="passC"> Confirm Password</Label>

                <input type="password" id="passC" required name="pp2">

            </div>
            <br>
            <!----------------------Phone number-------------------------------------->
            <div class="phoneN">
                <ion-icon name="phone-portrait-outline"></ion-icon>

                <Label for="p#">Phone Number</Label>

                <input type="number" id="p#" required name="ph">

            </div>
            <br>
            <!---------------------Physical address------------------->
            <div class="S-input">
                <ion-icon name="home-outline" ></ion-icon>
                
                <Label for="text">Address</Label>
                
                <input type="text" id="address"  required name="add">
            
            </div>
            <br>
            <!-------------------------------------City------------------------------->
            <div class="S-input">
                <iconify-icon icon="mdi:city" width="35" height="35"  style="color: white" id="city"></iconify-icon>

                <Label for="text">City</Label>
                
                <input type="text" id="city"  required name="city">
            
            </div>
            <br>
            <!-----------------------------------gender Check--------------------------->
<div class="GC">
    <iconify-icon icon="ion:man" width="38" height="38"  style="color: white"></iconify-icon>

    <input type="radio" name="gender"  class="GG">
    
    <iconify-icon icon="ion:woman" width="39" height="39"  style="color: white"></iconify-icon>
    
    <input type="radio" name="gender" class="GG">
</div>
<!-------------------------------- change the button view------------------->
   
            <input type="submit" value="Register " class="S-bit">
                
          
                <div class="sign?">
        
            </div>
        </div>
    </form>
</section>

<script>
    const passwor=document.getElementById('pass');
    const Cpassword=document.getElementById('passC');
    
    const icon=document.querySelector('#eye');
icon.addEventListener('click',()=>{
    if(passwor.type==='password'){
        passwor.type="text";
        icon.name="eye-outline";
    }
    else{
        passwor.type="password";
        icon.name="eye-off-outline";
    }
})




const icon2=document.querySelector('#eye2');

icon2.addEventListener('click',()=>{
    if(Cpassword.type==='password'){
        Cpassword.type="text";
        icon2.name="eye-outline";
    }
    else{
        Cpassword.type="password";
        icon2.name="eye-off-outline";
    }
})
</script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
