<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/George/Css/Success.css">

<title>Success</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section >
        <div class="box">

            <form class="formy" onsubmit="all()">
                <h1>Registered Successfully </h1>

            
            
            <br>
        </div>
            
    </form>
</section>
<script>


</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
    </html>